// Place all the styles related to the mainpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.header {
	font-size: 30px;
	line-height: 39px;
	font-family: 'Courgette', cursive;
	color: #FAF5F6
}

.mainheading{
	font-size: 45px;
	line-height: 39px;
	font-family: 'Courgette', cursive;
	padding:15px

}

.mainheading p{
	font-size: 20px;
	font-family: helvetica;
}

.notepad{ 
	position: relative;
	padding-left: 40px;
}

svg {
position: absolute;
padding-top: 16px;
padding-left: 90px;
}

#navlist li {
	background-image: url(assets/ichat.png);
 }