// Place all the styles related to the mainpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.header {
	font-size: 30px;
	line-height: 39px;
	font-family: 'Courgette', cursive;
	color: #FAF5F6
}

.mainheading{
	font-size: 45px;
	line-height: 39px;
	font-family: 'Courgette', cursive;
	padding:10px

}

.notepad3232{
	align-centre:10px;
	padding:10px;
	text-align: center;
	position: relative;
}