<!DOCTYPE html>
<html>
<head>
  <title>Strictbiz</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			     <div class="header"> StrictBiz </div>

		</div>
	</div>

</div>

<div class="container">

	<div class="row">
		<div class="span12">
		<div class="mainheading">
			Providing Web Solutions
		</div>
		</div>

	</div>
	<div class="row">
		<div class="span3">
			<div class="mainheading">
			<a href="/releases" class="notepad"></a> 

			</div>


		</div>
		<div class="span3">

			<div class="mainheading">
			Personal
			</div>
		</div>
		<div class="span3">
			<div class="mainheading">
			Business Solutions
			</div>
		</div>
		<div class="span3">
			<div class="mainheading">
			Design
			</div>
		</div>


	</div>

<%= yield %>


<div class="row">
	<div class="span3">

Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit. 
	</div>
	<div class="span9">

Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit. 
	</div>
</div>

</div>
			
			
<script type="text/javascript" src="assets/mainpage.js"></script>

</body>
</html>
