<!DOCTYPE html>
<html>
<head>
  <title>Strictbiz</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			     <div class="header"> StrictBiz </div>

		</div>
	</div>

</div>

<div class="container">

	<div class="row">
		<div class="span12">
		<div class="mainheading">
			
			<p><i>A small team of dedicated Web Developers and Designers commited to creating flexible solutions for our clients.</i></p>
		</div>
		</div>

	</div>
	<div class="row">
		<div class="span3">
			<div class="mainheading">
			<a href="/mainpage" class="notepad"><img src="/assets/Icon003.png"></a> 

			</div>


		</div>
		<div class="span3">

			<div class="mainheading">
				<a href="/mainpage/test"> <img src="/assets/Icon030.png"></a>
			</div>
		</div>
		<div class="span3">
			<div class="mainheading">
			<img src="/assets/Icon031.png">
			</div>
		</div>
		<div class="span3">
			<div class="mainheading">
			<img src="/assets/Folder_128.png">
			</div>
		</div>


	</div>



<div class="row">
	<div class="span12">
		<div data-pjax-container>
  			<%= yield %>
		</div>


</div>

</div>


</body>
</html>
